.options,
button {
  font-size: 18px;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  border: solid 2px black;
  height: 200px;
  line-height: normal;
  font-family: "times new roman";
}

section {
  display: flex;
  flex-direction: column;
}

#text {
  align-items: center;
}
